In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('Copy of MSA22 STUDENT Master TIPS spreadsheet (Team 2 Copy).xlsx')
df21 = pd.read_excel(xls, '2021')
df20 = pd.read_excel(xls, '2020')
df19 = pd.read_excel(xls, '2019')
df18 = pd.read_excel(xls, '2018')
df17 = pd.read_excel(xls, '2017')
df16 = pd.read_excel(xls, '2016')

In [3]:
#importing package for text analysis
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
import spacy
nlp = spacy.load('en')
from nltk.tokenize import word_tokenize
from collections import Counter
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [4]:
dflist=[df16,df17,df18,df19,df20,df21]

In [5]:
countdf = pd.DataFrame()
year = 2016
for df in dflist:
  df=df.astype(str)
  string=""
  for col in df:
    for index, row in df.iterrows():
      string= string +' '+row[col]
  BoW = []
  doc = nlp(string)
  for token in doc:
      BoW.append(token.text)
  lower_tokens = [t.lower() for t in BoW]
  no_stops = [t for t in lower_tokens
            if t not in stopwords.words('english')]
  no_punct = [w for w in no_stops
        if w.isalpha()]
  rcount = 0
  pycount=0
  sascount = 0
  awscount = 0
  for word in no_punct:
    if word == 'r':
      rcount= rcount+1
    elif word =='python':
      pycount= pycount+1
    elif word =='sas':
      sascount=sascount+1
    elif word =='aws':
      awscount=awscount+1
    elif word == 'amazon':
      awscount=awscount+1
  code_list = [rcount,pycount,sascount,awscount]
  countdf[year] = code_list
  year= year+1

In [6]:
countdf

   2016  2017  2018  2019  2020  2021
0    12     3     8     6     2     7
1     9     5    10     9     6     9
2     7     3     7     0     1     4
3     0     0     0     1     0     0

In [7]:
commondf = pd.DataFrame()
string=""
list = []
for df in dflist:
  df=df.astype(str)
  
  for col in df:
    for index, row in df.iterrows():
      string= string +' '+row[col]
  string= string.lower()
  doc = nlp(string)
  for token in doc:
    addition = ''
    if token.dep_ == 'dobj':
        addition = token.head.text + ' ' + token.text
    if addition != '':
      list.append(addition)
  commondf["most"]=Counter(list).most_common(10)

In [8]:
commondf

                   most
0      (take time, 113)
1  (take advantage, 90)
2        (have fun, 70)
3   (trust process, 67)
4    (make friends, 66)
5   (pay attention, 59)
6        (help you, 56)
7           (do it, 55)
8      (take notes, 48)
9      (learn much, 48)

In [9]:
threedf = pd.DataFrame()
year = 2016
for df in dflist:
  df=df.astype(str)
  string=""
  list = []
  for col in df:
    for index, row in df.iterrows():
      string= string +' '+row[col]
  string= string.lower()
  doc = nlp(string)
  for token in doc:
    addition = ''
    if token.dep_ == 'pobj':
      if token.head.dep_ == 'prep':
        if token.head.head.pos_ == 'VERB':
          addition = token.head.head.text + ' ' +token.head.text + ' ' + token.text
    if addition != '':
      list.append(addition)
  threedf[year]=Counter(list).most_common(5)
  year=year+1

In [10]:
threedf

                       2016  ...                     2021
0         (ask for help, 3)  ...    (take of yourself, 4)
1        (apply to jobs, 2)  ...   (compare to others, 3)
2     (pay during class, 2)  ...        (ask for help, 3)
3  (coming into program, 2)  ...        (keep in mind, 3)
4  (know across cohorts, 2)  ...  (think of something, 2)

[5 rows x 6 columns]